* {

    box-sizing: border-box;

}

body {

    width: 100%;
    height: auto;

    margin: 0;
    padding: 0;

    background-color: rgba(219, 196, 76, 1);
    font-family: "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", メイリオ, Meiryo, "ＭＳ Ｐゴシック", "Helvetica Neue", Helvetica, Arial, sans-serif;

}

header {

    width: 100%;
    padding: 40px 4% 10px;
    background-color: rgba(219, 196, 76, 1);

    position: fixed;

    display: flex;
    align-items: center;

}

 a {

    text-decoration: none;
    color: fff;

 }

 ul {

    list-style: none;
    margin: 0;
    display: flex;

 }

nav {

  margin:20 150 0 846;
  
}

 li {

    margin: 0 0 0 222px;
    font-size: 15px;

 }

 li a{

	display: inline-block;
	position: relative;
	color: #fff;
 	text-decoration: none;
  
}

li a:before{

	content: "";
	position: absolute;
	left: 0;
	bottom: -4px;
	width: 100%;
	height: 1.5px;
	background: #fff;
	transform: scale(0, 1);
	transform-origin: left;
	transition: 0.4s;

}

li a:hover:before {

	transform: scale(1);

}

.square01 {

    width: 1200px;
    height: 700px;

    background: rgba(200, 95, 53, 1);

    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
  
}

.circle01 {

    z-index: 0;

	width: 150px;
	height: 150px;
	border-radius: 50%;
	background: rgba(111, 170, 132, 1);
    
    position: absolute;
    top: 0;
    left: 0;
    right: 40;
    bottom: 0;
    margin: auto;

}

.circle02 {

    z-index: 0;

	width: 150px;
	height: 150px;
	border-radius: 50%;
	background: rgba(111, 170, 132, 1);
    
    position: absolute;
    top: 0;
    left: 533;
    right: 0;
    bottom: 0;
    margin: auto;

}

.circle03 {

    z-index: 0;

	width: 150px;
	height: 150px;
	border-radius: 50%;
	background: rgba(111, 170, 132, 1);
    
    position: absolute;
    top: 0;
    left: 0;
    right: 614;
    bottom: 0;
    margin: auto;


}

.social {

    list-style: none; /* リストの・が邪魔なので消します */
    display: flex; /* フレキシブルに */
    margin-top: 440px; /* 上部に1.5文字分の外部余白を設定 */
    margin-left: 240px;


  }

  .social li {

    z-index: 1000;
    line-height: 1; /* 文字高さを1文字分とする */
    padding: 0.5rem;  /* 上下左右に0.5文字分の内部余白をつける */
    font-size: 50px; /* アイコン(文字)のサイズを1.5文字分とする */

  }

  .social li a {

    text-decoration: none;  /* リンクテキストの装飾をなくす */
    color: #fff;  /* 文字色変更(任意の文字色に変えて良い) */
    transition: 1s color; /* 文字色が変化する場合、１秒かけて変化させる定義 */

  }

  .social li a:hover {
    color:rgba(200, 95, 53, 1);/* 文字色を変える(任意の文字色に変えて良い) */
  }