* {

    box-sizing: border-box;

}

body {

    width: 100%;
    height: auto;

    margin: 0;
    padding: 0;

    background-color: rgba(219, 196, 76, 1);
    font-family: "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", メイリオ, Meiryo, "ＭＳ Ｐゴシック", "Helvetica Neue", Helvetica, Arial, sans-serif;

}

header {

    width: 100%;
    padding: 40px 4% 10px;
    background-color: rgba(219, 196, 76, 1);

    position: fixed;

    display: flex;
    align-items: center;

}

 a {

    text-decoration: none;
    color: fff;

 }

 ul {

    list-style: none;
    margin: 0;
    display: flex;

 }

nav {

  margin:20 150 0 846;
  
}

 li {

    margin: 0 0 0 222px;
    font-size: 15px;

 }

 li a{

	display: inline-block;
	position: relative;
	color: #fff;
 	text-decoration: none;
  
}

li a:before{

	content: "";
	position: absolute;
	left: 0;
	bottom: -4px;
	width: 100%;
	height: 1.5px;
	background: #fff;
	transform: scale(0, 1);
	transform-origin: left;
	transition: 0.4s;

}

li a:hover:before {

	transform: scale(1);

}

.square01 {

    width: 1200px;
    height: 700px;

    background: rgba(200, 95, 53, 1);

    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
  
}